body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

section {
  border: 2px solid red;
}


caption {
  background: orangered;
}

table, tr, td, th {
  background: rgb(91, 143, 143);
  color: white;
  border: 2px solid white;
  border-collapse: collapse;
  padding: .7rem 1.4rem;
  text-align: center;
}