@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Metal+Mania&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}



.logo {
  font-family: "Charmonman", system-ui;
  margin-top: 0;
  font-size: clamp(1.2rem, 2vw + 12.2px, 2.7rem);
}